* {
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(183, 100, 112);
    margin: none;
    height: 80px;
    background-color: white;
}

.headerr {
    display: flex;
    align-items: center;
}

header h1 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 35px;
    text-align: center;
    letter-spacing: 6px;
}

header li {
    list-style-type: none;
}

header ul {
    display: flex;
    width: 500px;
    justify-content: space-between;
    margin-left: 30px;
}

header a {
    text-decoration: none;
    color: rgb(183, 100, 112);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

header a:hover {

    border-bottom: 2px solid rgb(183, 100, 112);
}

header button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    cursor: pointer;
    /* color: black; */
    background: transparent;
}

header button p {
    font-size: 20px;
    font-weight: 600;
    margin-right: 12px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}

.icon svg path {
    fill: rgb(183, 100, 112);
}

.icon-true {
    transform: rotateZ('180deg');
}

.dropdown-false {
    display: none;
}

.dropdown-true {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 150px;
    padding: 15px;
    position: absolute;
    right: 20px;
    top: 80px;
    z-index: 1;
    box-shadow: 2px 5px 28px -4px rgba(128, 128, 128, 0.75);
    -webkit-box-shadow: 2px 5px 28px -4px rgba(128, 128, 128, 0.75);
    -moz-box-shadow: 2px 5px 28px -4px rgba(128, 128, 128, 0.75);
}

.dropdown a {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 18px;
    color: black;
}

.dropdown a:hover {
    transform: scale(1.1);
}

.dropdown a:last-child {
    margin: 0;
}

@media screen and (max-width: 576px) {

    header {
        /* padding: 8px 16px; */
        height: 90px;
        position: fixed;
        width: 100%;
    }

    header h1,
    header a {
        font-size: 16px;
    }

    header h1 {
        letter-spacing: 3px;
    }

    .headerr {
        display: flex;
        flex-direction: column;
    }


    header ul {
        width: 300px;
        margin-top: 0;

    }

}