body {
    margin: 0;
    overflow-x: hidden;
}

main {
    background-image: url(../hairbg.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 150px;
}

main h3 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
    letter-spacing: 6px;

}

main p {
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    text-align: center;
}

main a {
    text-decoration: none;
    color: white;
}

.bookapt {
    font-family: 'Lato', sans-serif;
    padding: 16px 16px;
    /* width: 150px; */
    border: none;
    background-color: rgb(183, 100, 112);
    /* color: white; */
}

.bookapt:hover {
    transform: scale(1.09);
}


@media screen and (max-width: 576px) {

    main {
        margin: 0;
        padding: 16px;
    }

    main h3 {
        text-align: center;
        margin-top: 0;
        padding: none;
    }
}