* {
    box-sizing: border-box;
}

.service {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: rgb(183, 100, 112);
    color: white;
}

.service h1 {
    font-family: 'Syne', sans-serif;
}

.service p {
    font-family: 'Maven Pro', sans-serif;
}

.service li {
    font-family: 'Maven Pro', sans-serif;
    margin-top: 10px;
}

@media screen and (max-width: 576px) {
    .service {
        flex-direction: column;
        height: 100%;
        padding: 40px 40px;
    }

    .service h1 {
        font-size: 30px;
        text-align: left;
    }

    .service p {
        text-align: center;
        font-size: 20px;
    }

    main {
        padding-top: 90px;
    }
}